
{% extends 'univalle/base.html' %}

{% load staticfiles %}
{% load tz %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block page_title %}<center> Usuarios del sistema </center>{% endblock %}

{% block section_title %} 
{% endblock %}

{% block section_content %}
<div class="panel panel-inverse">
    <div class="panel-body">
        <center>
            <form action="" method="post">{% csrf_token %}
                <p>Está seguro que desea eliminar a "{{ object }}"?</p>
                <input style="background: #d93434; margin: auto;" class="btn btn-success start" type="submit" value="Confirmar" />
            </form>
        </center>
    </div>
</div>
{% endblock %}

{% block left_sidebar %} 
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}